{% extends "ui/base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col">
            <h2>Your open incidents</h2>
        </div>
        <div class="col text-end">
            <a class="btn btn-success" href="{% url 'ui:create' %}">Create new incident</a>
        </div>
    </div>

    {% if incidents %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">
        {% for i in incidents %}
        <div class="col mb-3">
            <div class="card" style="height: 100%">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="card-link link-dark link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'ui:incident' i.id %}">{{ i.subject }}</a>
                    </h5>
                    {% if i.category %}
                    <span class="card-subtitle mb-2 badge bg-success-subtle border border-success-subtle text-success-emphasis">{{ i.category }}</span>
                    {% endif %}
                    <p class="card-text">
                        {% if i.assigned_to %}
                        Assigned to <span class="text-success" style="font-style: italic;">{{ i.assigned_to }}</a>
                        {% else %}
                        <span class="text-secondary">Unassigned</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning">You have no open incidents.</div>
    {% endif %}

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
</div>
{% endblock %}
